*{
	padding: 0;
	margin: 0;
}
header{
	width: 960px;
	height: auto;
	margin: 0 auto;
}
.nav{
	width: 960px;
	height: auto;
	background: #000;
}
.nav ul li{
	list-style: none;
	display:inline-block;
	position: relative;
}
.nav ul li a{
	display: block;
	padding: 20px 35px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
.nav ul li a:hover{
	color: #FFFFFF;
	background:#404448;

}
.nav ul li ul{
	position: absolute;
	background: #000;
	left:-9999px;
}
.nav ul li:hover ul{
	left: 0px;
}
.nav ul li ul li{
	width: 200px;
	border-bottom: 1px solid #fff;
}
.banner-cover{
	height: 50vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.banner-text{
	padding: 100px;
	text-align: center;
}
.banner-text button{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20px;
	border:0;
	background: #000;
	color: #fff;
	margin: 0px 8px;
}
.about-logo img{
	margin: 0 10px;
	margin-bottom: 10px;
	box-shadow: 0px 8px 10px 0px #000;
}
.about-text{
	width: 520px;
	height: auto;
	padding: 0px 20px;
}

.about-text h2{
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 2px solid #fff;
	margin-bottom: 20px;
}
.about-text p{
	font-size: 16px;
	color: gray;
	line-height: 22px;
}
.row{
	overflow: auto;
}
.col{
	float: left;

}
.about-section{
	background: #DCE7E5;
	padding: 40px 0;
	margin-top: 20px;
}	
.title{
	width: 180px;
	height: auto;
	margin: 0 auto;
}
.title h2{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: 2px solid #fff;
	text-align: center;
	margin-bottom: 30px;
}
h2{
	width: 280px;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	border-bottom: 1px solid #FAF9F9;
	margin-bottom: 30px;
}
h3{
	text-transform: uppercase;
}
.service{
    width: 280px;
    font-size: 16px;
    /*border: 1px solid #FAF9F9;*/
    text-align: center;
    display:inline-block;
    margin: 10px;
    background: #fff;

}
.service p{
	font-size: 15px;
	line-height: 22px;
	padding: 0 15px;
}
.service:hover{
    box-shadow: 0px 10px 8px 0px #000000;
    background: #83858B;
}
.serv-icon i{
   font-size: 40px;
   margin: 10px;
   transition: .5s;
}
.serv-icon i:hover{
    color: #B8860B;
    transform: scale(.8);
}
.service-section{
	background: #83858B;
	margin-top: 20px;
}
.contact{
	background: #fff;
	padding: 15px 15px 15px 80px;
	box-shadow: 0px 0px 10px #ccc;
	width: 180px;
	position: relative;
	display: inline-block;
	margin: 0px 8px;
}
.cont-icon i{
	position: absolute;
	width: 50px;
	height: 50px;
	float: left;
	top:8px;
	left:15px;
	background: #DBDDE0;
	text-align: center;
	font-color:#fff;
	line-height: 50px;
	font-size: 30px;
	transition: .5s;
}
.cont-icon i:hover{
	color: #B8860B;
	transform: scale(.8);
}
.cont-text p{
	padding: 0;
	margin: 0;
	font-size: 18px;
	line-height: 22px;
}
.contact-section{
	background:#999A9C;
	padding: 40px 0px;
	margin-top: 20px;
}
.contact-form{
	width: 620px;
	height: auto;
	margin: 0 auto;
	margin-top: 30px;

}
.input-tag input{
	font-size: 20px;
	text-transform: capitalize;
	padding: 10px 10px;
	width: 80%;
	border: 0;
	margin: 8px 0px;
}
.input-tag textarea{
	width: 515px;
	height: auto;
	border: 0;
}
.input-tag button{
	width: 83.5%;
	padding: 10px 0px;
	background: #fff;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 4px;
	border: 0;
}	
.input-tag button:hover{
	background: #C7CBD1;

}
footer{
	width: 960px;
	margin: 0 auto;
	height: auto;
	background: #000;
	color: #fff;
	padding: 30px 0px;
}
.footer-icon{
	float: right;
}
.footer-icon i{
	font-size: 30px;
	padding: 0px 10px;
	transition: .5s;
}
.footer-icon i:hover{
	color: #B8860B;
	transform: scale(.8);
}
.footer-text{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px 20px;
}